<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name=viewport content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>Fast Upload</title>
</head>
<body>
  <h1>檔案快速上傳</h1>
  <br/>
  <form enctype="multipart/form-data">
    <input name="file" type="file">
    <button>Upload</button>
  </form>
  <br/>
  <ul></ul>
  <script type="text/javascript">
  document.getElementsByTagName("button")[0].onclick = function(event) {
    event.preventDefault();
    var xhr = new XMLHttpRequest();
    xhr.open('post', 'upload', true);
    xhr.send(new FormData(document.getElementsByTagName('form')[0]));
    xhr.onreadystatechange = function(){
      if (xhr.readyState==4 && xhr.status==200) {
        var node = document.createElement("li");
        var a = document.createElement('a');
        var linkText = document.createTextNode(xhr.responseText.slice(36));
        a.appendChild(linkText);
        a.download = xhr.responseText.slice(36);
        a.href = 'uploads/'+xhr.responseText.slice(0,36);
        node.appendChild(a);
        document.getElementsByTagName("ul")[0].appendChild(node);
      }
    };
  }
  </script>

</body>