<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>Fast Upload</title>
</head>
<body>
  <!-- Put the button outside the form to avoid redirect or reload -->
  <form enctype="multipart/form-data">
    <input name="file" type="file">
  </form>
  <div style="background-color: #000000; color: #ffffff;">Upload</div>
  <script type="text/javascript">
  var qq;
  var form = document.getElementsByTagName('form')[0];
  document.getElementsByTagName("div")[0].onclick = function() {
    
    var formData = new FormData(form);
    var fileInput = document.getElementsByTagName('input')[0];

    var xhr = new XMLHttpRequest();
    // Add any event handlers here...
    xhr.open('post', 'upload', true);
    xhr.send(formData);
    xhr.onreadystatechange = function(){
      if (xhr.readyState==4 && xhr.status==200) {
        var xhr2 = new XMLHttpRequest();
        xhr2.open('post', 'filename', true);
        xhr2.send();
        xhr2.onreadystatechange =function(){
          if (xhr2.readyState==4 && xhr2.status==200) {
            document.getElementsByTagName("div")[0].innerHTML=xhr2.responseText;    
            console.log(xhr2.responseText)
          }
        }
        
        
      }
    };
    qq=xhr;
    return false; // To avoid actual submission of the form
  }
  </script>

</body>